<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Parent</span>
            </div>
            <div class="title">{{title}}</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <div class="mb-32">
            <md-button class="add-event-button md-fab md-warn" ng-click="add($event)"
                   aria-label="Add event" translate translate-attr-aria-label="CALENDAR.ADD_EVENT">
                    <md-icon md-font-icon="icon-plus"></md-icon>
            </md-button>            
        </div>
        <div class="white-bg md-whiteframe-4dp">
            <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                <div ng-transclude="table"></div>
            </table>
        </div>

    </div>
    <!-- / CONTENT -->

</div>