<div class="md-inline-form">
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="80">
            <input type="text" ng-model="vm.church.address.street"
                   placeholder="Rua"
                   required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-xs="20">
            <input type="text" ng-model="vm.church.address.number"
                   placeholder="Número" ng-pattern="/^[0-9]*$/">
        </md-input-container>
    </div>
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="40">
            <input type="text" ng-model="vm.church.address.neighborhood"
                   placeholder="Bairro" required>
        </md-input-container>

        <md-input-container flex="100" flex-gt-xs="40">
            <label>Cidade</label>
            <md-select ng-model="vm.church.address.city">
                <md-option ng-repeat="city in vm.cities" value="{{city.id}}">
                    {{city.name}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex="100" flex-gt-xs="20">
            <input type="text" name="naw" ng-model="vm.church.address.cep"
                   placeholder="Cep" ui-br-cep-mask>
        </md-input-container>

    </div>
</div>